  <nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Todos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isIndex}}
          <li><a class="active" href="/">Sass</a></li>
        {{else}}
          <li><a href="/">Sass</a></li>
        {{/if}}
        {{#if isIndex}}
          <li><a class="active" href="/create">create</a></li>
        {{else}}
          <li><a href="/create">create</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>