<form action="/create" method="POST">
    <h2>Create todo</h2>
    <div>
        <input type="text" name="title">
        <label>todo title</label>
    </div>
    <button type="sumbit">create</button>
</form>

